/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 déc. 2020, 09:21:15
    Author     : thomas.robin
*/
.txtPres{ text-align: left ; 
         margin-right:500px;
}
.PhotoAmelia{float:left;
padding-right: 20px ;}

